* {
    margin:0px;
    padding:0px;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav{
    margin-bottom: 20px;
    background-color: aqua;  
}

.box {
    width: 200px;
    margin: 10px;
    text-align: center;
    border: solid black;
} 
